{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="col-xs-12 alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <div class="form-group">
                <input type="text" id="username" name="_username" class="form-control" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required" />
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
        </div>
        <div class="col-xs-12 col-md-offset-4 col-md-4 text-center">
            <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans }}" />
        </div>
    </form>
{% endblock fos_user_content %}
